{% extends "delivery agents/base.html" %}

{% load static %}
{% block content %}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        padding-top: 100px; /* Adjusted to move table down slightly */
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: rgb(228, 224, 224);
    }

    h2 {
        text-align: center;
        margin-top: 100px; /* Adjust this value to move heading down */
        color: #333;
    }
</style>

{% if message %}
<script>
  alert("{{ message }}")
</script>
{% endif %}

<h2>WORK REPORT</h2><BR>
<table>
    <thead>
        <tr>
            <th>User Name</th>
            <th>Food Ame</th>
            <th>Address</th>
            <th>Mobile No</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for i in work %}
        <tr>
            <td>{{ i.work.user.user.user.first_name }}</td>
            <td>{{ i.work.user.product.FoodName }}</td>
            <td>{{ i.work.user.user.address }}</td>
            <td>{{ i.work.user.user.mobile }}</td>
            <td style="color:green;">{{ i.status }}</td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No data found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}