{% extends "restaurants/base.html" %}
{% load static %}

{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        padding-top: 100px; /* Adjusted to move table down slightly */
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: rgb(228, 224, 224);
    }

    h2 {
        text-align: center;
        margin-top: 100px; /* Adjust this value to move heading down */
        color: #333;
    }
</style>

{% if message %}
<script>
  alert("{{ message }}")
</script>
{% endif %}
<br><br><br><br>

{% if bookview %}

<h2>ORDERS</h2>
<br><br><br><br>
<table>
    <thead>
        <tr>
            <th>User Name</th>
            <th>Food Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Image</th>
            <th>Approve</th>
            <th>Reject</th>
            

        </tr>
    </thead>
    <tbody>
        {% for i in bookview %}
        <tr>
            <td>{{ i.user.user.first_name }}</td>
            <td>{{ i.product.FoodName }}</td>
            <td>{{ i.product.description }}</td>
            <td>{{ i.total }}</td>
            <td>{{ i.quantity }}</td>
            <td><img style="max-width: 100px; max-height: 100px;" src="{{ i.product.image.url }}" alt="Product Image"></td>
            <td><a href="ApprovebookingView?id={{ i.id }}" class="btn btn-success">Approve</a></td>
            <td><a href="RejectbookingView?id={{ i.id }}" class="btn btn-danger">Reject</a></td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No users found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="text-center" style=""><b>NO PENDING REQUESTS</b></p>
{% endif %}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock content %}