<!-- success.html -->
{% extends 'base.html' %}

{% block content %}
<style>


  .container2 {
      text-align: center; /* Center align text */
      padding: 40px; /* Space inside the container */
      border-radius: 8px; /* Rounded corners */
      width: 100%; /* Full width within the max */
  }

  h2 {
      color: #4CAF50; /* Green color for the heading */
      margin-bottom: 20px; /* Space below heading */
  }

  p {
      font-size: 16px; /* Increase font size for paragraph */
      line-height: 1.5; /* Space between lines */
  }
</style>

<div class="container2">
  <h2>Success</h2>
  <p>Your password has been successfully changed/reset.</p>
</div>
{% endblock %}